
body {
	   	font-family: 'Space Mono', monospace;
		line-height: 1.3em;
/*		background-color: blue;
*/}

img{
	width: 100%;
	border: 2em;
	border-color: #000000;
	color: #000000;
}


.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.one{
	font-size: 1em;
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 200px;
	padding-left: 1em;
	padding-right: 5em;
}

.two{
	font-size: 1em;
	padding-top: 1em;
	padding-right: 1em;
	display: flex;
	flex: 2 1 auto;
	flex-direction: column;
	width: 400px;
	padding-left: 1em;
}

.smallitem{
	font-size: .85em;
	padding-top: 1em;
	padding-bottom: 5em;
}

.fixed{
	position: fixed;
	background-color: rgba(255, 255, 255, .5);
	padding-right: .5em;
	padding-bottom: 1em;
}

h2{
	font-size: 1.1em;
/*	padding-bottom: 1em;
*/	font-weight: normal;
	line-height: 1.6em;
}


h1{
	font-size: 1em;
	font-weight: normal;
}


h3{
	font-size: .85em;
	font-weight: normal;
}

h4{
	font-size: .85em;
	font-weight: normal;
	line-height: .1em;
}


a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

